doctype html5
html(ng-app='platform-control-nodebot')
  head
    meta(charset='utf-8')
    base(href='/')
    title Angular Express Browserify

    link(rel='stylesheet', href='/css/app.css')
  body
    block body

    script(src='/js/app.min.js')
